.glowing-wishes-container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px soild #ddd;
    padding: 20px;
    position: relative;
}
.form-text{
    position: absolute;
    right: 10px;
    bottom: 10px;

}