.glowing-wishes-container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px soild #ddd;
    padding: 20px;
    position: relative;
    width: 50%;
    display: block;
    margin: 0 auto
}
.form-text{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.diwali-lamp{
    height: 50px;
    position: absolute;
    top: 10px
}
.left-lamp{
    left: 10px;
}
.right-lamp{
    right: 10px;
}
.lamp{
    height: 50px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}
/*  */
.theme-1{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);     
}
.theme-2{
    background-color: #85FFBD;
   background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.theme-3{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);

}

@media screen and (max-width: 768px) {
    .glowing-wishes-container{
        width: 80%;
    }
    
}